@import "src/assets/scss/variables";

$color: $color-primary;
$duration: .3s;
.nav-toggle {
	display: none;
	@media screen and (max-width: 768px) {
		display: block;
	}

	position: fixed;
	top: 24px;
	left: 24px;
	width: 24px;
	height: 24px;
	border: none;
	background: linear-gradient(to bottom, $color, $color) no-repeat center;
	background-size: 100% 20%;
	transition: background-size $duration ease-in-out;
	cursor: pointer;
	outline: none;
	&:before,
	&:after {
		display: block;
		content: '';
		position: absolute;
		left: 0;
		width: 100%;
		height: 20%;
		background-color: $color;
		transition: transform $duration ease-in-out;
	}
	&:before {
		top: 0;
	}
	&:after {
		bottom: 0;
	}
	&.active {
		background-size: 0 0;
		&:before {
		  transform: translateY(200%) rotate(45deg);
		}
		&:after {
		  transform: translateY(-200%) rotate(-45deg);
		}
	}
}