@import "src/assets/scss/variables";

.nav {
  position: sticky;
  top: 90px;
  width: 150px;
  margin: 2rem 1rem;
  opacity: 0.6;

  @media screen and (max-width: 768px) {
    display: none;
    position: static;
    margin-top: 10px;
  }

  ol, li {
    margin-top: 0.7rem;
  }

  .nav_links {
    padding: 0;
    margin: 0 0;
    list-style: none;
    text-transform: capitalize;

    .nav_link {
      &.sub::before {
        content: "ï¹’";
        margin: 0 4px;
      }
      &.current {
        font-weight: bold;
      }
    }
    a {
      color: inherit;
      text-decoration: none;
    }

    a:hover {
      color: $color-primary;
      font-weight: bold;
      text-shadow: 0 0 10px rgb(2, 7, 21);
    }
  }
}