@import "../variables";

/* HTML elements */

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  line-height: $lineHeight-normal;
  font-size: $fontSize-root;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $font-body;
  font-size: $fontSize-1;
  color: $color-text;
  padding-top: 60px; /* Adjust this value based on the height of your header */
}

footer {
  padding: $spacing-6 $spacing-0;
  max-width: $maxWidth-7xl;
  margin-bottom: $spacing-12;
  margin: 1px auto;
}

hr {
  background: $color-accent;
  height: 1px;
  border: 0;
}

/* Heading */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
  margin-top: $spacing-12;
  margin-bottom: $spacing-6;
  line-height: $lineHeight-tight;
  letter-spacing: -0.025em;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: $fontWeight-bold;
  color: $color-heading;
}

h1 {
  font-weight: $fontWeight-black;
  font-size: $fontSize-6;
  color: $color-heading-black;
}

h2 {
  font-size: $fontSize-5;
}

h3 {
  font-size: $fontSize-4;
}

h4 {
  font-size: $fontSize-3;
}

h5 {
  font-size: $fontSize-2;
}

h6 {
  font-size: $fontSize-1;
}

h1 > a {
  color: inherit;
  text-decoration: none;
}

h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  text-decoration: none;
  color: inherit;
}


/* Prose */

p {
  line-height: $lineHeight-relaxed;
  $baseline-multiplier: 0.179;
  $x-height-multiplier: 0.35;
  margin: $spacing-0 $spacing-0 $spacing-8 $spacing-0;
  padding: $spacing-0;
}

ul,
ol {
  margin-left: $spacing-0;
  margin-right: $spacing-0;
  padding: $spacing-0;
  margin-bottom: $spacing-8;
  list-style-position: outside;
  list-style-image: none;
}

ul li,
ol li {
  padding-left: $spacing-0;
  margin-top: calc($spacing-8 / 2);
}

li > p {
  margin-bottom: calc($spacing-8 / 2);
}

li *:last-child {
  margin-bottom: $spacing-0;
}

li > ul {
  margin-left: $spacing-0;
  margin-top: calc($spacing-8 / 2);
}

blockquote {
  color: $color-text-light;
  margin-left: $spacing-2;
  margin-right: $spacing-8;
  padding: $spacing-0 $spacing-0 $spacing-0 $spacing-6;
  border-left: $spacing-1 solid $color-primary;
  font-size: $fontSize-2;
  font-style: italic;
  margin-bottom: $spacing-8;
}

blockquote > :last-child {
  margin-bottom: $spacing-0;
}

blockquote > ul,
blockquote > ol {
  list-style-position: inside;
  margin-left: $spacing-0;
}

table {
  width: 100%;
  margin-bottom: $spacing-8;
  border-collapse: collapse;
  border-spacing: 0.25rem;
}

table thead tr th {
  border-bottom: 1px solid $color-accent;
}


/* Link */

a {
  color: $color-primary;
}

a:hover,
a:focus {
  text-decoration: none;
}


.gatsby-highlight {
  margin-bottom: $spacing-8;
}

/* Media queries */

@media (max-width: 42rem) {
  blockquote {
    padding: $spacing-0 $spacing-0 $spacing-0 $spacing-4;
    margin-left: $spacing-0;
  }
  ul,
  ol {
    list-style-position: inside;
  }
}