@import "src/assets/scss/variables";

.container {
  display: flex;
  flex-direction: row;
  transition: color 0.2s ease-out, background 0.2s ease-out;
  margin: 0 auto;
  max-width: $maxWidth-7xl;
  
  @media screen and (max-width: 768px) {
    display: block;
  }
}

.content_wrapper {
  margin: $spacing-0;
  max-width: $maxWidth-wrapper;
  padding: $spacing-3 $spacing-3;
  width: -webkit-fill-available;

  @media screen and (max-width: 768px) {
    padding-top: 0;
  }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    max-width: calc(100% - 228px);
  }
}

.content_wrapper[data-is-root-path="true"] .bio {
  margin-bottom: $spacing-20;
}

.global_header {
  margin-bottom: $spacing-12;
  margin: 1px auto;
  max-width: $maxWidth-7xl;

  @media screen and (max-width: 768px) {
    text-align: center;
    border-bottom: 1px solid $color-grey;
  }
}

.global_header h1 {
  margin: 2rem;
}

.main_heading {
  font-size: $fontSize-6;
  margin: 0;
}

.header_link_home {
  text-decoration: none;
  font-size: $fontSize-6;
}

// headroom
@media screen and (max-width: 768px) {
  .global_header {
    &.headroom {
      will-change: transform;
      transition: transform 200ms ease-out, color 0.2s ease-out, background 0.2s ease-out;
    }
    &.headroom--pinned {
        transform: translateY(0%);
    }
    &.headroom--unpinned {
        transform: translateY(-100%);
    }
  }
}