@import "src/assets/scss/variables";

.container {
  display: flex;
  flex-direction: row;
  margin: auto;
  max-width: $maxWidth-8xl;
  min-height: 100vh;
  
  @media screen and (max-width: 768px) {
    display: block;
  }
}

.content_wrapper {
  flex: 1;
  margin: $spacing-0;
  max-width: $maxWidth-wrapper;
  padding: $spacing-3 $spacing-3;
  width: -webkit-fill-available;

  @media screen and (max-width: 768px) {
    padding-top: 80px;
  }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    max-width: calc(100% - 228px);
  }
}

.content_wrapper[data-is-root-path="true"] .bio {
  margin-bottom: $spacing-20;
}

.right_sidebar {
  position: relative;
  top: 260px;
  width: 270px;
}