.comments_wrapper {
    max-width: 100%;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 6px;
    background-color: #d1dce5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.comments_wrapper div div {
    max-width: 100%;
}